[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python run_dev.py"
lint = "flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics"

[packages]
Flask = "1.1.2"

[dev-packages]
flake8 = "3.8.4"
pytest = "6.1.2"

[requires]
python_version = "3.8"
