* {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h1 { font-size: 36px; }
h2 { font-size: 28px; }
h3 { font-size: 22px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

a {
    font-size: 11px;
    color: black;
}

main {
    padding: 60px;
}

/* LOGIN */

.login-main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.login-box label,
.login-box input {
    background-color: #8DC8D9 !important;
}

.login-box {
    width: 448px;
    height: 476px;
    padding: 40px;
    background: #8DC8D9;

    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: -8px 7px 0px #000000;
    border-radius: 10px;
}

.login-title {
    margin: auto;
    margin-bottom: 48px;    
}

/* SIGNUP */

.signup-main {
    max-width: 684px;
    margin: auto;
}

/* GENERICS */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* FORMS */

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

form > *:not(:first-child) {
    margin-top: 24px;
}

.input-item {
    position: relative;
    min-height: 66px;
}

.input-item input:placeholder {
    color: black;
    opacity: 0.5;
}

.input-item > label {
    position: absolute;
    top: 0;
    padding: 2px 4px;
    left: 12px;
    height: 20px;
    background-color: white;
}

.input-field {
    width: 100%;
    min-height: 48px;
    margin: 0;
    padding: 12px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 18px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
    padding-right: 42px;
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 12px;
    padding: 24px 12px;
}

.form-row {
    display: flex;
}

.form-row > * {
    flex: 1 0 0;
    margin: 0 8px;
}

.form-row > *:first-child {
    margin-left: 0;
}

.form-row > *:last-child {
    margin-right: 0;
}

option:disabled {
    color: gray;
}

.button {
    font-family: 'Nunito Sans', sans-serif;
    
    align-self: center;
    background: #FFD200;
    border: 1px solid black;

    box-sizing: border-box;
    box-shadow: -2px 4px 0px black, inset 1px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

.button-small {
    min-width: 118px;
    height: 44px;
}

.button-mid {
    min-width: 212px;
    height: 64px;
}

