<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} </title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="nav-bar">
        <img class="nav-bar-logo" src="{{ url_for('static', filename='image/talkgirl.png') }}" alt="Talkgirl Icon">

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/">Volunteer</a></li>
            <li><a href="/">Student</a></li>
            <li><a href="/">Contact</a></li>
            <li><a href="/login">Login</a></li>
            <!-- <li><a href="/">English</a></li> -->
        </ul>
    </nav>
    {% block content%}
    {% endblock %}

    <footer>
        <div class="links">
            <a href="/">About</a>
            <a href="/">Volunteer</a>
            <a href="/">Student</a>
            <a href="/">Contact</a>
            <a href="/signup">Register</a>
            <a href="/login">Login</a>
        </div>

        <div class="icons">
            <a href="http://www.google.com">
                <img src="{{ url_for('static', filename='image/instagram.png') }}" alt="Instagram Icon">
            </a>
            <a href="http://www.google.com">
                <img src="{{ url_for('static', filename='image/facebook.png') }}" alt="Facebook Icon">
            </a>
            <a href="http://www.google.com">
                <img src="{{ url_for('static', filename='image/linkedin.png') }}" alt="Linkedin Icon">
            </a>
            <a href="http://www.google.com">
                <img src="{{ url_for('static', filename='image/twitter.png') }}" alt="Twitter Icon">
            </a>
        </div>
    </footer>
</body>
</html>